body {
    background-attachment: fixed;
}
h1 {
   margin: 50px 0px;
   font-size: 45px;
   text-align: center;
   color: yellow;
   font-family: Marck Script, serif;
   text-shadow: 5px 6px 20px yellow;
}

p {
   text-align: justify;
   font-size: 25px;
}

a {
   text-decoration: none;
   color: black;
}

.img {
   width: 150px;
   height: 220px;
}

.container {
    max-width: 1170px;
    margin: auto;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
}

.section_news {
    margin-top: 110px;
}
.section__title-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
}

.news-list {
    display: flex;
    flex-wrap: wrap;
}
.news__item {
    width: 370px;
    margin-bottom: 30px;
    background: #f7f8fb;
    transition: .2s;
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 768px) {
    .news__item:not(:nth-child(4n)):not(:last-child) {
        margin-right: 0px;
    }
}
.news__item:hover {
    box-shadow: 0 10px 10px black;
}
@media screen and (max-width: 768px) {
    .news__item {
        width: calc(50% - 10px);
    }
    .news__item:not(:nth-child(2n)):not(:last-child) {
        margin-right: 5px;
    }
}
@media screen and (max-width: 550px) {
    .news__item {
        width: 100%;
        margin-right: 0 !important;
    }
}
.news__image {
    width: 100%;
    flex-shrink: 0;
}
.news__image .image-inner {
    padding-top: 310px;
}
@media screen and (max-width: 550px) {
    .news__image .image-inner {
        padding-top: 70%;
    }
}
.news__content {
    padding: 35px 25px 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.news__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #000;
    margin-bottom: 50px;
    transition: .2s;
}
.news__item:hover .news__title {
    color: #f1614c;
}
.news__date {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.news__date .date {
    font-size: 16px;
    line-height: 21px;
    text-align: right;
    color: #9a9a9a;
    margin-right: 10px;
}
.news__date .arrow {
    position: relative;
    right: 0;
    transition: .2s;
}
.news__item:hover .news__date .arrow {
    right: -5px;
}

.link_to_more {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-align: right;
    color: #f1614c;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    position: relative;
}
.link_to_more:after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #f1614c;
    position: absolute;
    top: 102%;
    transition: .3s;
}
.link_to_more .arrow {
    display: block;
    margin-left: 5px;
}
.link_to_more:hover:after {
    width: calc(100% - 25px);
}
a[class]:hover {
    text-decoration: none;
}

.box {
   background: white;
   padding: 20px;
   margin: 30px 0px;
   border-radius: 15px;
   color: black;
}

.button {
   width: 150px;
   background: #009cbf;
   padding: 10px;
   text-align: center;
   border-radius: 50px;
   box-shadow: 1px 2px 3px #750062;
}

.items {
   width: 90%;
   box-shadow: 1px 3px 5px gray;
   margin: 30px 0px;
   padding: 30px;
   border-radius: 20px;
   background: white;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   transition: all 0.5s linear 0s;
}
.items:hover {
   box-shadow: 10px 20px 25px black;
   transition: all 0.5s linear 0s;
}

.item-box {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.hat {
   display: flex;

}

nav {
   width: 100%;
   height: 65px;
   background: #009cbf;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   margin: 50px 2px;
   float: left;
   font-size: 18px;
}

.Up-button {
   position: sticky;
   display: block;
   top: 90%;
   left:5%;
   z-index: 170;
   border-radius: 50%;
   background: white;
   width: 50px;
   height: 50px;
   background-image: url(../Images/up-arrow.png);
   background-size: 90%;
   background-repeat: no-repeat;
   padding: 5px;
   background-position-x: 50%;
   background-position-y: 40%;
}

.items-img {
   width: 450px;
   margin: 30px;
}

@media (max-width: 1000px) {
   .items {
         flex-wrap: wrap;
   }
   .hat {
      flex-wrap: wrap;
      justify-content: center;
   }
   .items-img {
      width: 300px;
   }
}

.Mess {
   position: sticky;
   display: block;
   top: 90%;
   left: 99%;
   z-index: 171;
   border-radius: 50%;
   width: 50px;
   height: 50px;
   background-image: url(../Images/vk.png);
   background-size: 90%;
   background-repeat: no-repeat;
   padding: 5px;
   background-position-x: 50%;
   background-position-y: 40%;
}

.Mess2 {
   position: sticky;
   display: block;
   top: 80%;
   left: 99%;
   z-index: 171;
   border-radius: 10%;
   width: 50px;
   height: 50px;
   background-image: url(../Images/instagram.png);
   background-size: 90%;
   background-repeat: no-repeat;
   padding: 5px;
   background-position-x: 50%;
   background-position-y: 40%;
}

.button:hover {
    box-shadow: 10px 20px 25px black;
   transition: all 0.5s linear 0s;
}
.Up-button:hover {
    box-shadow: 5px 10px 25px black;
   transition: all 0.5s linear 0s;
}

footer {
    display: block;
    text-align: center;
    background: #009cbf;
    font-size: 23px;
}

.fon {                                           
    background: #003f8f;
    background-image: url(../Images/star.png);
    background-size: 50%;
    background-repeat: no-repeat;
}

b {
    color: #1c1c1c;

}
